<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title> <!-- Link to CSS file if any -->
</head>
<body>

    <h2>Edit Task</h2>
    <!-- Form to edit the task -->
    <form th:action="@{/tasks/update/{id}(id=${task.id})}" th:object="${task}" method="post">
        <div>
            <label for="name">Task Name:</label>
            <input type="text" th:field="*{name}" id="name" />
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea th:field="*{description}" id="description"></textarea>
        </div>
        <div>
            <label for="date">Due Date:</label>
            <input type="date" th:field="*{dueDate}" id="date"/><br/>
        </div>
        <div>
            <label for="status">Status:</label>
            <select th:field="*{status}">
                <option value="PENDING" th:selected="${task.status == 'PENDING'}">Pending</option>
                <option value="IN_PROGRESS" th:selected="${task.status == 'IN_PROGRESS'}">In Progress</option>
                <option value="COMPLETED" th:selected="${task.status == 'COMPLETED'}">Completed</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Update Task">
        </div>
    </form>
</body>
</html>