*{
    margin: 0%;
    padding: 0%;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #a7eaea;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    height: 50%;
    width: 40%;
    background-color: #f4f2f4;
}

.field{
    margin-top: 3%;
}

.status{
    margin-left: 10%;
    margin-top: 10%;
}

#touch:hover{
    background-color: aquamarine;
}
